<ul>
  <li>
    Name: <%= the_student.name %>
  </li>
  <li>
    Birthday: <%= the_student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= the_student.hometown.capitalize %>
  </li>
</ul>
